.logon_can {width: 100%;text-align: center;}
.home_logo {width: 100px;height: 100px;margin: 50px auto;}
.home_can {width: 300px;margin:0px auto;}
.home_img{width: 320px;display: block;margin:10px 0px;}